<div class="content">
  <div class="wel_content">

    <div class="wel_keeper_head">
      <h1>Welcome to Skyline</h1>
      <span class="text-gradient"></span>
    </div>
    <div>
      <p>
        Information brings you many opportunities so Be sure you keep up with all important things in your life.
      </p>
      <p>
        Subscribe to our most trusted authors and keep up with the giant flow of information in easy to read way.
      </p>
    </div>
  </div>
</div>