<div class="uk-container-expand uk-padding-small container-center">
  <span class="uk-label uk-label-danger">Failed to create the article! Be sure you have a title and a description!</span><br>
  <p>Return to <%= link_to 'your profile', user_profile_url(current_user.username)%> and try again</p>
</div>