div.article-container {
  margin-top: 50px;
  article.article {
    h1 {
      text-align: center;
    }
  }

  div.article-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;

    .uk-button {
      margin: 5px;
      width: 400px;
    }

    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
  }

  div.article-form-container {
    margin-top: 20px;
    input {
      margin-top: 10px;
    }

    textarea {
      margin-top: 20px;
      resize: vertical;
      height: 300px;
    }

    button {
      margin: 5px;
      width: 400px;
    }

    div.submit-button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // the buttons that are use for the functionality of the content
  .content-button {
    border: none;
    display: inline-block;
    padding: 0 10px;
    line-height: 1.5;
    font-size: 12px;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
    text-transform: uppercase;
    background-color: #1e87f0;
    color: #fff;
    cursor: pointer;
    margin-left: 3px;

    &:focus {
      outline: 0;
      color: white;
    }

    &:hover{
      text-decoration: none;
      color: white;
    }

    &:active{
      text-decoration: none;
      color: white;
    }
  }

  // same as above, but only buttons available for admin
  .container-button-admin {
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 0 10px;
    line-height: 1.5;
    font-size: 12px;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
    text-transform: uppercase;
    background-color: #f0506e;
    color: #fff;
    margin-left: 3px;

    &:focus {
      outline: 0;
      color: white;
    }

    &:hover{
      text-decoration: none;
      color: white;
    }

    &:active{
      text-decoration: none;
      color: white;
    }
  }

  .container-button-ready {
    cursor: pointer;
    border: none;
    display: inline-block;
    padding: 0 10px;
    line-height: 1.5;
    font-size: 12px;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
    text-transform: uppercase;
    background-color: #32d296;
    color: #fff;
    margin-left: 3px;
    &:focus {
      outline: 0;
      color: white;
    }

    &:hover{
      text-decoration: none;
      color: white;
    }

    &:active{
      text-decoration: none;
      color: white;
    }
  }
}