// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.article-container {

  h3.gallery_title {
    margin-left: 30px;
  }

  button.cancel-gal-btn {
    background: darkgray;
  }

  // control panel functionality
  div#new-gallery {
    display: none;
  }

  div.gallery_form {
    textarea {
      margin-top: 20px;
      resize: vertical;
      height: 200px;
    }
  }
}