// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.article-container {

  h3.gallery_title {
    margin-left: 30px;
  }

  button.cancel-gal-btn {
    background: darkgray;
  }

  // control panel functionality
  div#new-gallery {
    display: none;
  }

  div.gallery_form {
    textarea {
      margin-top: 20px;
      resize: vertical;
      height: 200px;
    }
  }

  div.slideshow-container{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  div.bounding-box {
    // don't try background: no-repeat center
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

}