<!--update new photo-->
<div class="uk-container" style="display: none">
  <%= form_with(model: [@article, @gallery, @gallery.images.build], local: true) do |f| %>
    <%= f.file_field :image, id: 'image_input' %>
    <%= f.submit 'Upload', id: 'image_submit' %>
  <% end %>
</div>

<script>
  alert('make this work')
</script>